@import url(normalize.css);

/******************************************************************ROOT******************************************************************/

body {
    display : grid;
    grid-template-rows: 120px auto 10%;
    min-height: 100vh;
}

/******************************************************************HEAD******************************************************************/
header {
    max-height: 100px;
}

.page__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.page__header__search {
    display: inline-block;
    width: 77%;
}

.page__header__text {
    width: 100%;
    font-size: 3rem;
}

/******************************************************************BODY******************************************************************/


/******************************************************************FOOTER******************************************************************/

footer {
    max-height: 70px;
}